// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn{
	position: relative; 
	right: 10px;
	left: 5px; 
	background: pink; 
	width: 78px;
    border: 1px solid #900;
    padding: 10px;
    margin: 0;
  
}